@import "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap');

$green: #27300f;
$orange: #d26a22;
$orange_hover: #bf601f;
$size_text: 32px;
$size_desc: 22px;

$font-Montserrat: 'Montserrat', sans-serif;
$font-Playfair: 'Playfair Display', sans-serif;

@mixin breakpoint($points) {
    @if $points == 360 {
        @media (max-width: 22.5em) {@content; }
    }
    @if $points == 576 {
        @media (max-width: 36em) {@content; }
    }
    @if $points == 768 {
        @media (max-width: 48em) {@content; }
    }
    @if $points == 864 {
        @media (max-width: 54em) {@content; }
    }
    @if $points == 960 {
        @media (max-width: 60em) {@content; }
    }
    @if $points == 1184 {
        @media (max-width: 74em) {@content; }
    }
    @if $points == 1280 {
        @media (max-width: 80em) {@content; }
    }
    @if $points == 1344 {
        @media (max-width: 84em) {@content; }
    }
    @if $points == 1728 {
        @media (max-width: 108em) {@content; }
    }
}

body {
    background: #282828;
    color: #fff;
    font-family: $font-Montserrat;
    font-size: 14px;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    font-size: 0;
    flex-direction: column;
    &__screen {
        flex: 1 0 100%;
        z-index: -1;
        &_bg img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}
.header {
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .header_list
    &__list {
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        // .header_list__tel
        &_tel {
            color: #fff;
            font-weight: 500;
            font-size: 13px;
            line-height: 150%;
            transition: .2s;
            &:hover {
                color: #99862A;
            }
        }
    }
    // .header_nav
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        // .header_nav__item
        &_item {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border: 1px solid #fff;
            padding: 10px 100px;
            width: 25%;
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
        // .header_nav__link
        &_link {
            color: #fff;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            transition: .2s;
            &:hover {
                color: #99862A;
            }
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        // .header__row_absolute
        &_absolute {
            position: absolute;
            bottom: 17%;
        }
        // .header__row_btn
        &_btn {
            display: flex;
            gap: 30px;
        }
    }
}
.btn {
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    background: #99862A;
    cursor: pointer;
    padding: 15px 30px;
    border: 1px solid #99862A;
    transition: .2s;
    &:hover {
        color: #99862A;
        background: #fff;
    }
		// .btn_product
		&_product {
            &:hover {
                color: #99862A;
                background: transparent;
            }
		}
}
.banner {
    padding-bottom: 100px;
		// .banner_list
		&_list {
            width: 100%;
            height: 100%;
            padding: 60px 180px;
            border: 1px solid #fff;
            text-align: center;
		}
		// .banner_title
		&_title {
            font-family: $font-Playfair;
            font-weight: 700;
            font-size: 36px;
            line-height: 150%;
		}
		// .banner_text
		&_text {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            margin: 80px 0 50px;
		}
		// .banner_img
		&_img {
            width: 160px;
            height: 160px;
            object-fit: cover;
		}
}
.title_block {
    position: relative;
    &::after{
        content:"";
        position:absolute;
        bottom: -40px;
        left: 40%;
        width: 160px;
        height: 1px;
        background:#fff;
    }
}
.product {
    background: #E6E3C4;
    padding: 80px 0;
    // .product_list
    &_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 0;
        position: relative;
        color: #000;
        font-weight: 400;
        &::after, &::before {
            content:"";
            position:absolute;
            width: 100%;
            height: 1px;
            background: #998431;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
    // .product_description
    &_description {
    }
    // .product_subtitle
    &_subtitle {
        font-size: 16px;
        line-height: 150%;
    }
    // .product_title
    &_title {
        font-family: $font-Playfair;
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
        color: #282828;
        max-width: 300px;
        position: relative;
        margin: 30px 0 60px;
        &::after{
            content:"";
            position:absolute;
            bottom: -32px;
            left: 0;
            width: 160px;
            height: 1px;
            background: #282828;
        }
    }
    // .product_text
    &_text {
        font-size: 14px;
        line-height: 150%;
        color: #282828;
        max-width: 445px;
        margin: 27px 0;
    }
    // .product_image
    &_image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    &_img {
        &__one {
            grid-area: 1 / 1 / 2 / 3;
            & img {
                width: 540px;
                height: 500px;
                object-fit: cover;
            }
        }
        // .product_img__two
        &__two {
            grid-area: 2 / 1 / 3 / 2;
            & img {
                width: 255px;
                height: 228px;
                object-fit: cover;
            }
        }
        // .product_img__three
        &__three {
            grid-area: 2 / 2 / 3 / 3;
            & img {
                width: 255px;
                height: 228px;
                object-fit: cover;
            }
        }
    }
    // .product__box
    &__box {
        // .product__box_item
        &_item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            max-width: 445px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #282828;
            border-bottom: 1px solid #000;
            &:last-child {
                border-bottom: none;
            }
        }
        // .product__box_data
        &_data {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 24px;
        }
        // .product__box_list
        &_list {
            padding: 14px 30px;
            border-left: 1px solid #282828;
        }
        // .product__box_title
        &_title {
            font-family: $font-Playfair;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 8px;
        }
        // .product__box_text
        &_text {
        }
    }
}
.tasting {
    padding: 100px 0;
    // .tasting__box
    &__box {
        border: 3px solid #C4C4C4;
        border-top: none;
        position: relative;
        &_left {
            position: absolute;
            top: -40px;
            left: -25px;
            width: 260px;
            height: 260px;
        }
        &_right {
            position: absolute;
            top: -35px;
            right: -65px;
            width: 260px;
            height: 200px;
        }
    }
    // .tasting_title
    &_title {
        font-family: Playfair Display;
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
        text-align: center;
    }
    // .tasting_text
    &_text {
        text-indent: 25px;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        max-width: 540px;
        margin: 80px auto 65px;
    }
    // .tasting__form
    &__form {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        // .tasting__form_name, .tasting__form_tel
        &_name,
        &_tel {
            color: #fff;
            flex-basis: 255px;
            padding: 15px 10px;
            border-bottom: 1px solid #fff;
        }
        // .tasting__form_adress
        &_adress {
            color: #fff;
            width: 100%;
            margin-top: 25px;
            padding: 15px 10px;
            border-bottom: 1px solid #fff;
        }
        // .tasting__form_btn
        &_btn {
            border: 1px solid #fff;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            padding: 15px 210px;
            color: #fff;
            margin-top: 45px;
            margin-bottom: 75px;
            cursor: pointer;
            transition: .2s;
            &:hover {
                color: #99862A;
                border: 1px solid #99862A;
            }
        }
    }
}
input:focus {
    color: #fff;
    font-size: 13px;
    border-bottom: 1px solid #99862A;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #282828 !important; /* Цвет фона */
    -webkit-text-fill-color: #fff !important; /* цвет текста */
    color: #fff !important; /* цвет текста */
}
.footer {
    background: #998431;
    padding: 50px 0;
    // .footer_nav
    &_nav {
        display: flex;
        // .footer_nav__list
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 20px 0;
            width: 25%;
        }
        // .footer_nav__list
        &_link {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #fff;
            transform: scale(1);
            transition: .2s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    // .footer__info
    &__info {
        // .footer__info_copyright
        &_copyright {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        // .footer__info_item
        &_item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            text-transform: uppercase;
            width: 100%;
            height: 26px;
            padding: 28px 0;
            border: 1px solid #fff;
            border-top: none;
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
        &_social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
        // .footer__info_tel
        &_tel {
            color: #fff;
            transform: scale(1);
            transition: .2s;
            &:hover {
                transform: scale(1.2);
            }
        }
        &_yt, &_vk, &_fb {
            transform: scale(1);
            transition: .2s;
            &:hover {
                transform: scale(1.4);
            }
        }
    }
}